@charset "utf-8";
/* CSS Document */

body{
	background:#f1f9f9;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto;
	//margin-top:90px;
    background-color: #fff;

    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);

	font-family:Tahoma, Geneva, sans-serif;
	color:#990000;
	font-weight:lighter;
}

.form-signin .form-signin-heading{
    color:#00A2D1;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
    font-size: 16px;
    height: 45px;
    padding: 7px 9px;
}

.signin-form, .body-container
{
	//border:solid red 1px;
	margin-top:110px;
}
.navbar-brand{
	font-family:"Lucida Handwriting";
}
#btn-submit{
	height:45px;
}
.h5{
	font-family:Verdana, Geneva, sans-serif;
}
h1{
	font-family:Verdana, Geneva, sans-serif;
}
#main {
	position: relative;
	max-width: 100%;
	min-width: 27em;
	padding: 4.5em 3em 3em 3em ;
	background: #aea7f9;
	border-radius: 4px;
	cursor: default;
	opacity: 0.95;
	text-align: center;
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-moz-transition: opacity 1s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 1s ease, -ms-transform 1s ease;
	transition: opacity 1s ease, transform 1s ease;
}

	#main .avatar {
		position: relative;
		display: block;
		margin-bottom: 1.5em;
	}

		#main .avatar img {
			display: block;
			margin: 0 auto;
			border-radius: 100%;
			box-shadow: 0 0 0 1.5em #ffffff;
		}

		#main .avatar:before {
			content: '';
			display: block;

			position: absolute;
			top: 50%;
			left: -3em;
			width: calc(100% + 6em);
			height: 1px;
			z-index: -1;
			background: #c8cccf;
		}

	@media screen and (max-width: 480px) {

		#main {
			min-width: 0;
			width: 100%;
			padding: 4em 2em 2.5em 2em ;
		}

			#main .avatar:before {
				left: -2em;
				width: calc(100% + 4em);
			}

	}



/* Footer */


/* Wrapper */

#wrapper {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	position: relative;
	min-height: 100%;
	padding: 1.5em;
	z-index: 2;
}

	#wrapper > * {
		z-index: 1;
	}

	#wrapper:before {
		content: '';
		display: block;
	}

	@media screen and (max-width: 360px) {

		#wrapper {
			padding: 0.75em;
		}

	}

	body.is-ie #wrapper {
		height: 100%;
	}
	#btn_s{
		/*position: absolute;
	    top: 50%;
			left: 50%;*/
	width:100px;
	margin-left:auto;
	margin-right:auto;
	}

	#btn_i{
	/*position: absolute;
		top: 50%;
		left: 60%;*/
	width:125px;
	margin-left:auto;
	margin-right:auto;

	}
	#btn_p{
		/*position: absolute;
	    top: 50%;
			left: 50%;*/
	width:100px;
	margin-left:auto;
	margin-right:auto;
